.page-content {
    font-size: large
}

body#bio strong {
  font-size: larger
}

ul.topics, ul.publications {
   list-style-type: none;
   /*width: 500px;*/

    h3 {
      font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    }

    > li img {
      float: left;
      margin: 0 15px 0 0;
      width: 100px;
      display: block;
    }

    > li {
      padding: 10px;
      overflow: auto;
    }

    > li:hover {
      background: #eee;
      cursor: pointer;
    }
}

.onlinedemo {
    font-weight: bold;
    font-style: italic;
    display: inline;
    margin: 0 3em;
    padding: 3px; 
    border: green 1px solid; 
    border-radius: 10px;
    background: #efe;
}




ul.topics {    
    > li > a {
        color: #222;
        text-decoration: none;

        &:visited {
            color: #666;
        }

        &:hover {
            color: #222;
            text-decoration: none;
        }
    }
}

img.topic:lang(en) {
    float:right;
    width:160px;
}

img.topic:lang(he) {
    float:left;
    width:160px;
}



