---
layout: page
---
<img class='topic' src="{{site.baseurl}}/images/{{page.image}}" />
<h1>{{page.title}}</h1>
<p class='description'>
{{page.content | markdownify}}
</p>
<div>
{% assign publications=site.publications | where:"topic", page.topic | sort: 'date' %}
<h2>Publications and working-papers</h2>
{% if publications.size > 0 %}
  <ul class='publications'>
    {% for p in publications %}
    <li>
        <b>{{p.title}}</b>: {{p.authors}}. &nbsp;&nbsp;&nbsp;&nbsp;  {{p.content | markdownify | remove: '<p>' | remove: '</p>'}}
    </li>
    {% endfor %}
  </ul>
{% else %}
Under construction...
{% endif %}
</div>
