---
layout: page
---
<img class='topic' src="{{site.baseurl}}/images/{{page.image}}" />
<h1>{{page.title}}</h1>
<p class='description'>
{{page.content | markdownify}}
</p>
<div>
{% assign papers=site.data.papers | where:"topic", page.ident | where:"onlinedemoexists", true | sort: 'date' %}
{% if papers.size > 0 %}
<h2>{{site.data.labels.onlinedemos[page.lang]}}</h2>
  <ul class='publications'>
    {% for p in papers %}
    <li><div dir='{{site.data.dirs[p.lang]}}' style='text-align:{{site.data.directions[p.lang]}}'>
        <a href='{{p.onlinedemo.url}}' class='onlinedemo'>{{p.onlinedemo.title}}</a>
    </div></li>
    {% endfor %}
  </ul>
{% endif %}
</div>

{% assign papers=site.data.papers | where:"topic", page.ident | sort: 'date' %}
<h2>{{site.data.labels.papers[page.lang]}}</h2>
{% if papers.size > 0 %}
  <ol class='publications'>
    {% for p in papers %}
    {% if p.level != "website" %}
    <li><div dir='{{site.data.dirs[p.lang]}}' style='text-align:{{site.data.directions[p.lang]}}'>
        {% if p.entitle and page.lang == "en" and p.lang == "he" %}
        <div class='entitle' dir='ltr'>{{p.entitle}} [Hebrew]:</div>
        &quot;<b>{{p.title}}</b>&quot;: {{p.authors}}. &nbsp;&nbsp;&nbsp;&nbsp;  {{p.content | markdownify | remove: '<p>' | remove: '</p>'}}
        {% else %}
        &quot;<b>{{p.title}}</b>&quot;: {{p.authors}}. &nbsp;&nbsp;&nbsp;&nbsp;  {{p.content | markdownify | remove: '<p>' | remove: '</p>'}}
        {% endif %}
        {% if p.onlinedemo %}
        <a class='onlinedemo' href='{{p.onlinedemo.url}}'>{{site.data.labels.onlinedemo[page.lang]}}</a>
        {% endif %}
        {% if p.presentation %}
        <a class='presentation' href='{{p.presentation}}'>{{site.data.labels.presentation[page.lang]}}</a>
        {% endif %}
    </div></li>
    {% endif %}
    {% endfor %}
  </ol>
{% else %}
{{site.data.labels.nopapers[page.lang]}}
{% endif %}
</div>
